.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0px 10px 0px 10px;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#root {
  width: 80%;
}

.base>div {
  margin: 10px;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    min-height: 70px;
}

.container {
    display: flex;
    align-items:flex-start;
}

.url-ui-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 20px;
}

.ui-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 20px;
    margin: 5px;
    cursor: pointer;
    font-weight: bold;
}

.read-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 0px;
  padding: 0px 5px;
  margin: 5px;
  cursor: pointer;
  font-size: small;
}

.read-a {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 0px;
  padding: 0px 5px;
  margin: 5px;
  cursor: pointer;
  font-size: small;
  height: 30px;
}

.icon-button {
  text-align: right;
}


.seek-bar {
    width: 200px;
    background-color: #ccc;
    height: 8px;
    border-radius: 4px;
    margin: 5px;
    position: relative;
}

.seek-bar .seek-bar-progress {
    height: 100%;
    background-color: #007bff;
    border-radius: 4px;
}

.seek-bar-textbox {
    width: 50px;
    text-align: center;
    margin: 5px;
}

.novel-url-textbox {
    width: 300px;
    text-align: center;
    margin: 5px;
}

.novel_choicer {
  width: 90%;
}

.contents_list_box {
  height: 200px;
  background-color: #fff;
  overflow-y: scroll;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h2, h3, h4, h5 {
  text-overflow: ellipsis;
}

h4, h5 {
  margin: 0px;
}

ul, ol {
  padding: 0;
}

ul li {
  border-bottom: solid 2px #dadada;/*下に灰色線*/
  background: whitesmoke;
  margin-bottom: 5px;/*下のバーとの余白*/
  line-height: 1.5;
  padding: 0.5em;
  list-style-type: none!important;/*ポチ消す*/
  font-weight: bold;
}

.gaiji{
  width: 1em;
  height: 1em;
}

@media (max-width: 751px) {
  .search_ui {
    display: block;
  }

  .ui-container {
    display: block;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
  }

  ol li {
    border: solid 2px #dadada;/*下に灰色線*/
    background: whitesmoke;
    list-style-type: none!important;/*ポチ消す*/
    padding: 0 3px 0 3px;
  }

  .base {
    margin: 0px;
  }

  .contents_list {
    width: 90%;
  }
}

@media (min-width: 752px) {
  .search_ui {
    display: flex;
  }

  .ui-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
  }

  ol li {
    border: solid 2px #dadada;/*下に灰色線*/
    background: whitesmoke;
    list-style-type: none!important;/*ポチ消す*/
    padding: 0 3px 0 3px;
    float: left;
    width: calc(50% - 10px);
  }

  .base {
    display: flex;
    flex-direction: row;
    margin: 0px;
  }

  .contents_list {
    width: 45%;
  }
}

.all_text {
  margin: 5px;
}


